.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.applecation {
  width: 90%;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-column-gap: 10%;
  margin-left: 10%;
}

.spiner, .option {
  background: #CCC;
  border-radius: 15px;
}

.square__table {
  display: flex;
  flex-flow: column;
  overflow: hidden;
}
.square__array {
  display: flex;
  flex-flow: row;
  display: -webkit-box;
}

.square {
  background: #FFF;
  margin: 15px;
  color: black;
  display: block;
}